# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg

# Publish folder
**/publish/

# Backup folders
LiveReplay_v*/

# Test files
*.xml

# IDE
.idea/
*.suo
*.user
*.userosscache